.team-form {
    padding: 16px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 4em;
  }
  
  ion-item {
    --background: white; 
    border-radius: 8px; 
  }
  
  ion-note {
    font-size: 0.9rem;
  }
  
  .button-container {
    display: flex; 
    margin-top: 20px; 
  }
  
  .submit-button {
    color: white; 
    border-radius: 20px; 
  }
  
  .home-button {
    border-radius: 20px;
    --background: transparent;
  }
  