<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2 class="championship-title">Grand League Championship</h2>

    <ion-list>
      <ion-item class="table-header">
        <div class="header-item">
          <span class="field-name">Team Name</span>
        </div>
        <div class="header-item">
          <span class="field-name">Coach Name</span>
        </div>
        <div class="header-item">
          <span class="field-name">Category</span>
        </div>
        <div class="header-item">
          <span class="field-name">Number Of Players</span>
        </div>
      </ion-item>

      <ion-item *ngFor="let s of teams" class="team-row">
        <div class="table-item">{{s.teamName}}</div>
        <div class="table-item">{{s.coach}}</div>
        <div class="table-item">{{s.category}}</div>
        <div class="table-item">{{s.numberOfPlayers}}</div>
      </ion-item>
    </ion-list>

    <div class="button-container">
      <ion-button class="styled-button" color="tertiary" (click)="goToTeamList()">Show team list</ion-button>
    </div>    

  </div>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</ion-content>